.csPage {
    height: 100vh;
    cursor: default;
}

.navbar-brand {
    text-transform: uppercase;
    color: rgb(0, 140, 255) !important;
    font-size: 1.6rem !important;
}

.csPage-Content {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.csPage-Content-bg {
    display: flex;
    background-color: white;
    border: 10px solid #d3d3d3;
    padding: 20px;
    text-align: center;
}

.csPage-Content h1 {
    color: rgb(0, 140, 255);
    text-transform: uppercase;
    margin-right: 0.7rem;
}

#soon {
    color: #979797; 
}

.footer-content span {
    color: rgb(0, 140, 255);
}